body {
    background-image: url(./assets/pokeball\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

input {
    width: 49.5%;
}

.containerOne {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    background-color: transparent;
}

.boxOne {
    grid-row: 1/4;
    grid-column: 1/2;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.boxTwo {
    grid-row: 1/4;
    grid-column: 3/4;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.displayImgOne {
    grid-row-start: 1;
    grid-column-start: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.displayImgTwo {
    grid-row-start: 2;
    grid-column-start: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.displayImgThree {
    grid-row-start: 3;
    grid-column-start: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.displayImgFour {
    grid-row: 3/4;
    grid-column-start: 1;
}

.josh {
    width: 150px;
    height: 150px;
}

.displayImgFive {
    grid-row-start: 3;
    grid-column: 2/3;
    align-self: center;
    padding-top: 50px;
    z-index: 2;
    justify-self: center;
    padding-right: 350px;
    padding-top: 150px;
}

/* enemy img */
.displayImgSix { 
    grid-row-start: 2;
    grid-column-start: 2;
    z-index: 2;
    align-self: center;
    justify-self: end;
    padding-right: 175px;
}

/* enemy name */
.displayImgSeven {
    grid-row-start: 1;
    grid-column-start: 3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

/* enemy types */
.displayImgEight {
    grid-row-start: 2;
    grid-column-start: 3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

/* enemy height and weight */
.displayImgNine {
    grid-row-start: 3;
    grid-column-start: 3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.battleground {
    background-repeat: no-repeat;
    height: 55vh;
    /* width: ; */
    grid-row: 1/4;
    grid-column: 2;
    /* z-index:  */
}